/* CONTACTO */

.contacto__conteiner {
    background: url(../imagenes/home_main_blur.jpg) no-repeat center center/cover;
}

.contacto__titulo {
    font-size: 2.3rem;
    letter-spacing: .3rem;
    text-align: center;
}

.contacto__conteiner {
    padding: 1rem 0;
}

form {
    max-width: 17.5rem;
    margin: 1rem auto;
}

input {
    padding: .1rem;
    background-color: #111;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: 0;
}

textarea {
    padding: .1rem;
    background-color: #111;
    color: white;
    border: 1px solid white;
    outline: 0;
}

.formulario {
    div {
    padding: .6rem 0;
    text-align: center;
    }
}

.form__enviar {
    cursor: pointer;
    margin: 0 1rem;
}
