/* DISCOGRAFIA GRID */

#grilla__discografia {
    display: grid;
    grid-template-areas: 
    "header"
    "discografia__titulo"
    "navegacion__discos"
    "section"
    "hr"
    "footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
}

/* DISCOGRAFIA */

.discografia__titulo {
    font-size: 1.8rem;
    text-align: center;
}

.navegacion__discografiaList li {
    padding: .5rem .5rem;
    font-size: .8rem;
}

.discografia__orden {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(21, auto);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem; 

    justify-content: center;
    text-align: center;
}

.discografia__canciones a img {
    width: 16rem;
    box-shadow: $sombra;
}

.discografia__canciones p {
    font-size: .8rem;
    padding: 0 0 1rem 0;
}

.discografia__canciones {
    filter: grayscale(0);
    transition: 1s;
    &:hover {
        cursor: pointer;
        filter: grayscale(100%);
        transition: 1s;
    }
}
