/* MEDIA */

@media (min-width: 480px) {

    /* INDEX */

    .showcase__logo img {
        max-width: 20%;
    }

    .pies__imagen img {
        max-width: 20%;
    }

    img.biografia__eveBio {
        max-width: 40%;
        box-shadow: $sombra;
    }

    /* PERFIL */

    img.biografia__imagenEveNombre {
        max-width: 15%;
    }
    
    img.biografia__imagenEve {
        max-width: 35%;
    }
    
    p.biografia__titulo {
        font-size: 2rem;
    }
    
    .biografia__texto {
        text-align: center;
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    /* DISCOGRAFIA */
    
    .discografia__titulo {
        font-size: 2rem;
        text-align: center;
    }
    
    .navegacion__discografiaList {
        li {
        padding: .5rem .5rem;
        font-size: 1rem;    
        }
    }
    
    .discografia__canciones {
        img {
        width: 17rem;
        box-shadow: $sombra;  
        }
    }
    
    .discografia__canciones {
        p {
        font-size: 1rem;
        padding: .5rem 0 1rem 0;    
        }  
    }

    /* COLABORACIONES */

    .colaboracion__secciones {
        width: 19rem;
        margin: 1rem;
    }
    
    .colaboraciones__titulo {
        font-size: 2rem;
        padding: .5rem 0;
        text-align: center;
    }
    
    .colaboracion__titulo {
        font-size: 1.5rem;
        padding: .5rem;
    }
    
    .colaboracion__texto {
        font-size: .9rem;
        padding: .7rem;
    }
    
    .colaboracion__videoYoutube {
        padding: .5rem 0;
    }
    
    .colaboracion__videoYoutube {
        p {
        font-size: 1.3rem;
        padding: .5rem 0;    
        }       
    }
    
    .colaboracion__videoYoutube {
        iframe {
        width: 15rem;
        height: auto;    
        }
    }
    
    .colaboracion__imagen {
        img {
        width: 14rem;   
        }  
    }

    /* CONTACTO */

    form {
        max-width: 22rem;
        margin: 1rem auto;
        background-color: #111;
    }

    textarea {
        margin: .5rem 0;
        padding: .1rem;
        background-color: #111;
        color: white;
        border: 1px solid white;
        width: 300px;
    }

    .formulario {
        div {
        padding: .6rem 0;
        text-align: center;    
        }   
    }

}

@media (min-width: 600px) {

    /* INDEX */

    .showcase__logo img {
        max-width: 25%;
    }

    .pies__imagen img {
        max-width: 25%;
    }

    .showcase__navList {
        padding: .5rem 0;
    }

    .showcase__navList li {
        font-size: 1rem;
    }

    /* BIOGRAFIA RESUMEN */

    img.biografia__eveBio {
        max-width: 30%;
        box-shadow: $sombra;
    }
    
    .biografia__eveNombre {
        font-size: 2.5rem;
        padding: .5rem 0;
    }

    .biografia__eveInicio {
        max-width: 80%;
        font-size: 1.2rem;
    }

    .seguir__leyendo {
        padding: .5rem;
    }

    .seguir__leyendoLink {
        font-size: 1.3rem;
    }

    p.biografia__eveInicio {
        font-size: 1rem;
    }

    /* FOOTER */

    footer {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        margin: 1rem 0;
    }

    .footer__piePagina h4 {
        font-size: 1.1rem;
        padding: 0 0 .2rem 0;
    }

    /* CONTACTO */

    form {
        max-width: 25rem;
        margin: 1rem auto;
        background-color: #111;
    }

    textarea {
        margin: .5rem 0;
        padding: .1rem;
        background-color: #111;
        color: white;
        border: 1px solid white;
        width: 300px;
    }

    .formulario  div {
        padding: .6rem 0;
        text-align: center;
    }

}

@media (min-width: 768px) {
    
    /*INDEX*/

    /* BIOGRAFIA RESUMEN */

    img.biografia__eveBio {
        max-width: 25%;
        box-shadow: $sombra;
    }
    
    .biografia__eveNombre {
        font-size: 2.5rem;
    }

    .biografia__eveInicio {
        max-width: 80%;
        font-size: 1.3rem;
    }

    .seguir__leyendoLink {
        font-size: 1.3rem;
    }

    /* FOOTER */

    footer {
        margin: 1rem 0;
    }

    .footer__piePagina h4 {
        font-size: 1.2rem;
        padding: 0 0 .2rem 0;
    }

    .footer__piePagina p {
        font-size: 1.1rem;
        padding: .1rem;
    }

    /* PERFIL */

    img.biografia__imagenEveNombre {
        max-width: 10%;
    }
    
    img.biografia__imagenEve {
        max-width: 30%;
    }
    
    p.biografia__titulo {
        font-size: 2.3rem;
    }
    
    .biografia__texto {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 1rem;
        font-size: 1.1rem;
    }

    /* DISCOGRAFIA */
    
    .discografia__titulo {
        font-size: 2.3rem;
        text-align: center;
    }
    
    .navegacion__discografiaList li {
        padding: .5rem .5rem;
        font-size: 1.1rem;
    }

    .discografia__orden {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(11, auto);
        grid-row-gap: 1rem;
        grid-column-gap: 3rem; 
    
        justify-content: center;
        text-align: center;
    }
    
    .discografia__canciones a img {
        width: 18.75rem;
    }

    /* COLABORACIONES */

    .colaboracion__secciones {
        width: 19rem;
        margin: 1rem;
    }
    
    .colaboraciones__titulo {
        font-size: 2rem;
        padding: .5rem 0;
        text-align: center;
    }
    
    .colaboracion__titulo {
        font-size: 1.5rem;
        padding: .5rem;
    }
    
    .colaboracion__texto {
        font-size: 1rem;
        padding: .7rem;
    }
    
    .colaboracion__videoYoutube {
        padding: .5rem 0;
    }
    
    .colaboracion__videoYoutube p {
        font-size: 1.3rem;
        padding: .5rem 0;
    }
    
    .colaboracion__videoYoutube iframe {
        width: 15rem;
        height: auto;
    }
    
    .colaboracion__imagen a img {
        width: 14rem;
    }

}

@media (min-width: 1024px) {

    /* INDEX */

    .showcase__logo img {
        max-width: 20%;
    }

    .pies__imagen img {
        max-width: 20%;
    }

    .showcase__navList {
        padding: .5rem 0;
    }

    .showcase__navList li {
        font-size: 1.1rem;
    }

    /* BIOGRAFIA RESUMEN */
    
    .biografia__eveNombre {
        font-size: 2.5rem;
        padding: .5rem 0;
    }

    .biografia__eveInicio {
        max-width: 65%;
        font-size: 1.3rem;
    }

    .seguir__leyendo {
        padding: .5rem;
    }

    .seguir__leyendoLink {
        font-size: 1.3rem;
    }

    p.biografia__eveInicio {
        font-size: 1.2rem;
    }

    /* FOOTER */

    footer {
        margin: 1rem 0;
    }

    .footer__piePagina h4 {
        font-size: 1.2rem;
        padding: 0 0 .2rem 0;
    }

    .footer__piePagina p {
        font-size: 1rem;
        padding: .1rem;
    }

    /* PERFIL */

    img.biografia__imagenEveNombre {
        max-width: 10%;
    }
    
    img.biografia__imagenEve {
        max-width: 25%;
    }
    
    p.biografia__titulo {
        font-size: 2.5rem;
    }
    
    .biografia__texto {
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 1rem;
        font-size: 1.1rem;
    }

    /* DISCOGRAFIA */
    
    .discografia__titulo {
        font-size: 3rem;
        text-align: center;
        letter-spacing: .3rem;
        padding: 1rem 0 0 0;
    }
    
    .navegacion__discografiaList li {
        padding: 2rem .8rem;
        font-size: 1.2rem;
    }

    .discografia__orden {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: repeat(7, auto);
        grid-row-gap: 2rem;
        grid-column-gap: 2rem; 
    
        justify-content: center;
        text-align: center;
    }
    
    .discografia__canciones a img {
        width: 18.75rem;
    }

    footer {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        margin: 1rem 0;
    }

    .footer__piePagina h4 {
        font-size: 1.1rem;
        padding: 0 0 .2rem 0;
    }

    /* DISCOGRAFIA */

    .colaboraciones__titulo {
        font-size: 2.5rem;
    }

    /* CONTACTO */

    .contacto__titulo {
        font-size: 3rem;
    }

    form p {
        font-size: 1.1rem;
    }

    form {
        max-width: 40rem;
        margin: 2rem auto;
        background-color: #111;
    }

    textarea {
        margin: .7rem 0;
        padding: .1rem;
        background-color: #111;
        color: white;
        border: 1px solid white;
        width: 25rem;
    }

    .formulario  div {
        padding: .6rem 0;
        text-align: center;
    }

    .form__enviar {
        font-size: 1.1rem;
    }

}

@media (min-width: 1200px) {
    /* INDEX */

    .showcase__logo img {
        max-width: 18%;
    }

    .pies__imagen img {
        max-width: 18%;
    }

    .showcase__navList {
        padding: .5rem 0;
    }

    .showcase__navList li {
        font-size: 1rem;
        padding: .5rem 1rem;
    }

    /* BIOGRAFIA RESUMEN */

   img.biografia__eveBio  {
        max-width: 15%;
        margin: 2rem 0 1rem 0;
    }
    
    .biografia__eveNombre {
        font-size: 2.5rem;
        padding: 1.5rem 0;
    }

    .biografia__eveInicio {
        max-width: 40%;
        font-size: 1.4rem;
    }

    .seguir__leyendo {
        padding: 1rem;
    }

    .seguir__leyendoLink {
        font-size: 1.3rem;
    }

    /* FOOTER */

    footer {
        margin: 1rem 0;
    }

    .footer__piePagina h4 {
        font-size: 1.3rem;
        padding: 0 0 .2rem 0;
    }

    .footer__piePagina p {
        font-size: 1.2rem;
        padding: .1rem;
    }

    /* PERFIL */

    img.biografia__imagenEveNombre {
        max-width: 8%;
    }
    
    img.biografia__imagenEve {
        max-width: 15%;
    }
    
    p.biografia__titulo {
        font-size: 2.5rem;
    }
    
    .biografia__texto {
        max-width: 45%;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 1rem;
        font-size: 1.2rem;
    }

    /* COLABORACIONES */

    .colaboracion__secciones {
        width: 20rem;
        margin: 2rem;
    }
    
    .colaboraciones__titulo {
        font-size: 2.5rem;
        padding: .5rem 0;
        text-align: center;
    }
    
    .colaboracion__titulo {
        font-size: 1.5rem;
        padding: .5rem;
    }
    
    .colaboracion__texto {
        font-size: 1rem;
        padding: .7rem;
    }
    
    .colaboracion__videoYoutube {
        padding: .5rem 0;
    }
    
    .colaboracion__videoYoutube p {
        font-size: 1.3rem;
        padding: .5rem 0;
    }
    
    .colaboracion__videoYoutube iframe {
        width: 18rem;
        height: auto;
    }
    
    .colaboracion__imagen a img {
        width: 14rem;
    }

    /* CONTACTO */

    .contacto__titulo {
        font-size: 3rem;
    }

    .formulario p {
        font-size: 1.3rem;
    }

    input {
        font-size: 1.2rem
    }

    textarea {
        font-size: 1.2rem;
    }

    .form__enviar {
        font-size: 1.2rem;
    }

}